/* Style Frontend Mentor */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Style General */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fafafa;
}

/* STYLE DESKTOP */
/* Style Desktop Header */
.containerHeader {
    padding: 2em;
    vertical-align: middle;
}

.containerHeaderNav {
    display: flex;
    align-items: center;
}

.navbarBrand {
    font-size: 2em;
    font-weight: bold;
    margin-right: 2em;
}

.containerHeaderLinks {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #7f7f7f;
    font-weight: bold;
}

.containerHeaderUl1 {
    display: flex;
}

.featuresLinks {
    display: none;
    width: auto;
    flex-direction: column;
    position: fixed;
    padding-top: 2rem;
}

.containerHeaderUl1 li {
    margin-right: 2em;
}

.containerHeaderUl2 {
    display: flex;
    align-items: center;
}

.containerHeaderUl2 li {
    margin-left: 2em;
}

.containerHeaderUl2 li:nth-child(1) {
    margin-right: 2em;
}

.buttonRegister {
    border: 2px solid #7f7f7f;
    padding: 1em 2em;
    border-radius: 15px;
}

.burgerIcons {
    display: none;
}

/* Style Desktop Main */
.containerMain {
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    display: flex;
    padding-top: 3em;
}

.containerMainText {
    width: 60%;
    height: 50em;
    padding-right: 2em;
    padding-top: 3;
}

.titleH1 {
    font-size: 5rem;
    font-weight: bold;
}

.paraMain {
    margin-top: 2em;
    margin-bottom: 2em;
}

.containerMainImg {
    background-image: url("../images/image-hero-desktop.png");
    margin: 0;
    padding: 0;
    width: 40%;
    height: 50em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Style Desktop Footer */


/* STYLE EXTRA LARGE */
@media screen and (max-width:1200px) {
    /* Style extra large main */
    .containerMainText {
        height: 30em;
        padding-right: 2em;
        padding-top: 3;
    }
    
    .titleH1 {
        font-size: 4rem;
        font-weight: bold;
    }
    
    .containerMainImg {
        height: 30em;
        background-position: top;
    }
}

/* STYLE LARGE */
@media screen and (max-width:992px) {
    /* Style large header */
    .navbarBrand {
        margin-right: 1em;
    }

    .containerHeaderUl1 li {
        margin-right: 1em;
    }

    .containerHeaderUl2 li {
        margin-left: 1em;
    }

    .containerMainImg {
        height: 30em;
        background-position: top;
    }
}

/* STYLE MEDIUM */
@media screen and (max-width:768px) {
    .containerHeader {
        padding: 1em;
        vertical-align: middle;
    }

    .containerHeaderLinks {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    color: #7f7f7f;
    font-weight: bold;
}

    .containerHeaderNav {
        align-items: flex-start;
    }

    .burgerIcons {
        display: none;
    }

    .containerHeaderNav a.burgerIcons {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }

    .containerHeaderLinks {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0rem;
        right: 0rem;
        width: 65%;
        height: 100%;
        background-color: white;
        padding-top: 1em;
    }

    .containerHeaderUl1 {
        flex-direction: column;
        text-align: left;
        width: 80%;
        margin-left: 0;
        margin-top: 3rem;
    }

    .containerHeaderUl1 li {
        margin-top: 1em;
    }

    .containerHeaderUl2 {
        width: 100%;
        flex-direction: column;

        margin-top: 2rem;
        padding: 0;
    }

    .containerHeaderUl2 li {
        margin-top: 1em;
        margin-left: 0;
    }

    .containerHeaderUl2 li:nth-child(1) {
        margin-right: 0em;
    }

    .buttonRegister {
        padding: 1em 3em;
        margin: 0;
        border-radius: 15px;
    }

    .containerMainText {
        height: 20em;
    }
    
    .titleH1 {
        font-size: 3rem;
    }
    
    .containerMainImg {
        height: 20em;
        background-position: top;
    }
}

/* STYLE MOBILE */
@media screen and (max-width:375px) {
    /* Style Mobile Header */
    .containerHeader {
        padding: 1em;
        vertical-align: middle;
    }

    .containerHeaderLinks {
    display: flex;
    width: 100%;
    justify-content: start;
    align-items: center;
    color: #7f7f7f;
    font-weight: bold;
}

    .containerHeaderNav {
        align-items: flex-start;
    }

    .burgerIcons {
        display: none;
    }

    .containerHeaderNav a.burgerIcons {
        display: block;
        position: absolute;
        top: 1.5rem;
        right: 1rem;
    }

    .containerHeaderLinks {
        display: none;
        flex-direction: column;
        position: fixed;
        top: 0rem;
        right: 0rem;
        width: 65%;
        height: 100%;
        background-color: white;
        padding-top: 1em;
    }

    .containerHeaderUl1 {
        flex-direction: column;
        text-align: left;
        width: 80%;
        margin-left: 0;
        margin-top: 3rem;
    }

    .containerHeaderUl1 li {
        margin-top: 1em;
    }

    .containerHeaderUl2 {
        width: 100%;
        flex-direction: column;

        margin-top: 2rem;
        padding: 0;
    }

    .containerHeaderUl2 li {
        margin-top: 1em;
        margin-left: 0;
    }

    .containerHeaderUl2 li:nth-child(1) {
        margin-right: 0em;
    }

    .buttonRegister {
        padding: 1em 3em;
        margin: 0;
        border-radius: 15px;
    }

    /* Style Mobile Main */
    .containerMain {
        margin: 0;
        display: flex;
        flex-direction: column-reverse;
        padding-top: 0;
    }

    .containerMainText {
        width: 100%;
        padding: 0;
    }

    .brH1 {
        display: none;
    }

    .containerMainImg {
        background-image: url("../images/image-hero-mobile.png");
        width: 100%;
        height: 300px;
    }
}
